# Configuración de Google Gemini AI
GEMINI_API_KEY=tu_api_key_de_gemini_aqui

# Configuración de Supabase
POSTGRES_SUPABASE_URL=https://txjvhjobetfdmigkejbu.supabase.co
POSTGRES_NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4anZoam9iZXRmZG1pZ2tlamJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQyNTYwMDAsImV4cCI6MjA2OTgzMjAwMH0.FDxBb1rbUxg6OKVbVxXLaD8sfW8cfxf5UzC8o93Ai0
POSTGRES_SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui
